<!-- Used to render Contact Log Entries form -->

<div id ="error_explanation">
	<h3>Add a Log Entry:</h3>
	<%= form_for :contact_log, url: contacts_path do |c| %>
		<% if @log_entry.errors.any? %>
			<ul>
				<%= pluralize(@log_entry.errors.count, "error") %> prevented the entry from being saved: 
				<% @log_entry.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		<% end %>

		<p>
			Enter Notes Below<br>
			<%= c.label :notes, 'Notes' %>:
			<%= c.text_area :notes %><br>
			<%= submit_tag "Save" %>
		</p>
	<% end %>
</div>