
<div id ="error_explanation">
	<br>
	<br>
	<strong>Add a Contact:</strong>
	<%= form_for :contact, url: contacts_path do |c| %>
		<% if @contact.errors.any? %>
			<ul>
				<%= pluralize(@contact.errors.count, "error") %> prevented the contact from being saved: 
				<% @contact.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		<% end %>

		<p>
			<table>
			<tr>
				Name Info
			</tr>
			<tr>
				<td><%= c.label :cont_fname, 'First:' %></td>
				<td><%= c.text_field :cont_fname %></td>
			</tr>
			<tr>
				<td><%= c.label :cont_lname, 'Last:' %></td>
				<td><%= c.text_field :cont_lname %></td>
			</tr>
			</table>
		</p>

		<p>
			<table>
				<tr>
					Contact Info
				</tr>
				<tr>
					<td><%= c.label :cont_phone, 'Phone:' %></td>
					<td><%= c.telephone_field :cont_phone %></td>
				</tr>
				<tr>
					<td><%= c.label :cont_email, 'Email:' %></td>
					<td><%= c.text_field :cont_email %></td>
				</tr>
				<tr>
					<td><%= c.label :cont_tag, 'Tag:' %></td>
					<td><%= c.text_field :cont_tag %></td>
				</tr>
			</table>
			<%= submit_tag "Save" %>
		</p>
	<% end %>
</div>