<!-- Used to render Contacts form -->

<div id ="error_explanation">
	<h3>Add a Contact:</h3>
	<%= form_for :contact, url: contacts_path do |c| %>
		<% if @contact.errors.any? %>
			<ul>
				<%= pluralize(@contact.errors.count, "error") %> prevented the contact from being saved: 
				<% @contact.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		<% end %>

		<p>
		Name Info<br>
		<%= c.label :cont_fname, 'First' %>:
		<%= c.text_field :cont_fname %><br>

		<%= c.label :cont_lname, 'Last' %>:
		<%= c.text_field :cont_lname %><br>
		</p>

		<p>
		Contact Info<br>
		<%= c.label :cont_phone, 'Phone' %>:
		<%= c.telephone_field :cont_phone %><br>

		<%= c.label :cont_email, 'Email' %>:
		<%= c.text_field :cont_email %><br>

		<%= c.label :cont_tag, 'Tag' %>:
		<%= c.text_field :cont_tag %><br>

		<%= submit_tag "Save" %>
	<% end %>
</div>