<!-- Used to render list of all Contacts -->
<table>
	<tr>
		<th>Full Name</th>
		<th>Phone Number</th>
		<th>Email Address</th>
		<th>Tag</th>
		<th colspan="4"></th>
	</tr>

	<% @contacts.each do |x| %>
		<tr>
			<td><%= x.cont_fname %> <%= x.cont_lname %></td>
			<td><%= x.cont_phone %></td>
			<td><%= x.cont_email %></td>
			<td><%= x.cont_tag %></td>
		</tr>
		<tr>
			<td><%= link_to 'Details', contact_path(x) %>  <%= link_to 'Edit', edit_contact_path(x) %>
				<%= link_to 'Delete', contact_path(x), method: :delete, data: {confirm: "Confirm delete?"} %>
			</td>
		</tr>
	<% end %>
</table>