<!-- Used to render list of all Contacts -->
<table>
	<tr>
		<th>Full Name</th>
		<th>Last Contacted</th>
		<th colspan="5"></th>
	</tr>

	<% @contacts.each do |x| %>
		<tr>
			<td><a href= "contacts/<%= x.id %>"><%= x.cont_fname %> <%= x.cont_lname %></a></td>
			<td><%= x.lastContact %></td>
			<td></td>
			<td></td>
			<td><%= link_to 'Edit', edit_contact_path(x) %>
				<%= link_to 'Delete', contact_path(x), method: :delete, data: {confirm: "Confirm delete?"} %>
			</td>
		</tr>
	<% end %>
</table>