<div id="">
<h3>
	<%= @contact.cont_fname %> <%= @contact.cont_lname %>
</h3>

<p>
	Last Contact: <%= @l_contact %>
</p>

</div>

<div>
	<%= link_to 'Edit', edit_contact_path(@contact) %>
	<%= link_to 'All Contacts', contacts_path %>
</div>

<p>
	<table>
		<tr>
			<td>F. Name:</td> 
			<td><%= @contact.cont_fname %></td>
		</tr>
		<tr>
			<td>L. Name:</td>
			<td><%= @contact.cont_lname %></td>
		</tr>
	</table>
</p>

<p>
	<table>
		<tr>
			<td>Phone:</td> 
			<td><%= @contact.cont_phone %></td>
		</tr>
		<tr>
			<td>Email:</td>
			<td><%= @contact.cont_email %></td>
		</tr>
		<tr>
			<td>Tag:</td>
			<td><%= @contact.cont_tag %></td>
		</tr>
	</table>
</p>

<h3 class="">Contact History</h3>

<table>
	<tr>
		<td>Created</td>
		<td>Note</td>
	</tr>
	
	<%= render @contact.contact_logs %>
</table>

<h3>Add a Note:</h3>
<%= render 'contact_logs/form' %>

