<h3>
	<%= @contact.cont_fname %> <%= @contact.cont_lname %> | Last Contact:
</h3>

<p>
	First: <%= @contact.cont_fname %><br>
	Last: <%= @contact.cont_lname %>
</p>

<p>
	Phone: <%= @contact.cont_phone %><br>
	Email: <%= @contact.cont_email %><br>
	Tag: <%= @contact.cont_tag %>
</p>

<h4 class="">Contact History</h4>

<table>
	<% @log_entries.each do |x| %>
		<tr>
			<td><%= x.created_at %></td>
			<td><%= x.notes %></td>
		</tr>
	<% end %>
</table>

<%= render partial "contact_logs/form" %>