

<%= #First Name%>

<%= #Last Name%>
<%= #Phone%>
<%= #Email%>
<%= #Tag%>

<h3 class="">Contact History</h3>

<table>
	<% @contact_log.each do |x| %>
		<tr>
			<td><%= #Date%></td>
			<td><%= #Time%></td>
			<td><%= #Who%></td>
			<td><%= #Notes%></td>
		</tr>
	<% end %>
</table>